.homePage {
    background-color: #0b0e11;
}

.homePage .static_frame {
    width: 100%;
    background-color: #2c261e;
}

.personage_img.left {
    width: 204px;
    height: 200px;
    background-image: url("/public/home/papay_foto.png");
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-size: cover;
}

.personage_img.right {
    width: 204px;
    height: 200px;
    background-image: url("/public/home/papay_foto.png");
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: cover;
}

.homePage .static_box {
    width: 191px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePage .static_num {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.homePage .static_text {
    color: #E3C08D;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.homePage .top_restaurant_frame {
    height: 605px;
    width: 100%;
    display: flex;
    background-color: #0b0e11;
}

.homePage .category_title {
    color: #E3C08D;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homePage .best_restaurant_frame {
    width: 100%;
    height: 775px;
    background-color: #0b0e11;
    display: flex;
}

.homePage .best_dishes_frame {
    display: flex;
    height: 462px;
    margin-top: 100px;
    width: 100%;
}

.homePage .dish_box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 376px;
    margin-right: 26px;
    width: 273px;
}

.homePage .dish_box .dish_img {
    background-size: cover;
    border-radius: 0 50px 0 0;
    display: flex;
    flex-direction: column;
    height: 275px;
    position: relative;
    width: 273px;
}


.homePage .dish_badge {
    position: absolute;
    top: 40px;
    left: 0;
    width: 76.999px;
    height: 39px;
    border-radius: 0px 50px 50px 0px;
    background: #F8BE69;
    box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.10);
}

.homePage .dish_badge_info {
    position: relative;
    margin: 10px auto;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.homePage .dish_more {
    background: rgba(28, 23, 23, .59);
    border: 2px solid #b48b50;
    align-content: center;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: row;
    font-size: 13px;
    height: 50px;
    line-height: 20px;
    opacity: 0;
    padding-left: 25px;
    transition: opacity .5s ease;
    width: 163px;
    z-index: 3;
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
}

.dish_more img {
    vertical-align: middle;
}

.homePage .dish_img:hover .dish_more {
    opacity: 1;
}

.homePage .dish_more_title {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.homePage .dish_name {
    margin-top: 25px;
    color: #D1D1D1;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.homePage .dish_price {
    margin-top: 15px;
    align-items: center;
    color: #E3C08D;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.homePage .advertisement_frame {
    background: #0c0e12;
    box-shadow: 0 -62px 60px 20px hsla(0, 0%, 85%, .4);
    display: flex;
    height: 693px;
    overflow: hidden;
    margin-top: 186px;
    width: 100%;
    justify-content: center;
}

.advertisement_frame .ads_media {
    background: #0c0e12;
    box-shadow: 0 -8px 90px #d7d7ff;
}

.homePage .events_frame {
    margin-top: 45px;
    width: 100%;
    height: 700px;
    display: flex;
    overflow: "hidden";
}

.homePage .events_main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homePage .events_main .events_text {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePage .events_main .prev_next_frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 24px;
    margin-left: 901px;
    margin-top: 19px;
}

.homePage .dot_frame_pagination {
    position: relative;
    width: auto;
    display: flex;
}

.homePage .events_main .events_info {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homePage .events_info .events_info_frame {
    position: relative;
    width: 579px;
    height: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage .events_img {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    background-size: cover;
}

.homePage .events_desc {
    position: absolute;
    padding: 10px;
    display: flex;
    width: 90%;
    height: auto;
    bottom: 5px;
    background: #ffffff;
    box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
    border-radius: 8px;
}

.homePage .events_desc .events_bott {
    width: 97%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homePage .events_desc .events_bott .bott_left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homePage .bott_left .event_title_speaker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homePage .event_title_speaker .event_organizator {
    display: flex;
    align-items: center;
}

.homePage .event_organizator .spec_text_author {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    line-height: 34px;
    color: #140342;
}

.homePage .bott_left .text_desc {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #4f547b;
}

.homePage .bott_left .bott_info {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 16px;
}

.homePage .bott_info .bott_info_main {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: 100%;
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4f547b;
}

.homePage .swiper-wrapper {
    display: flex;
    flex-direction: row;
}

.homePage .swiper-pagination-bullet {
    margin-right: 5px;
    width: 8px;
    height: 8px;
    text-align: center;
    opacity: 1;
    background: #ffffff;
    border-radius: 50%;
}

.homePage .swiper-pagination-bullet-active {
    background: #007aff;
    border-radius: 50%;
}

.homePage .top_article_frame {
    width: 100%;
    height: auto;
    display: flex;
}

.homePage .article_main {
    margin-top: 32px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homePage .article_main .article_container {
    width: 568px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homePage .article_main .article_category {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 44px;

    color: #ffffff;
}

.homePage .article_container .article_box {
    margin-top: 18px;
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    background: #fff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.homePage .article_container .article_news {
    width: 100%;
    border-radius: 20px;
    height: 380px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    /* box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 4px 40px rgba(83, 38, 208, 0.25);
}

.homePage .article_box .article_img {
    width: 150px;
    height: 153px;
    border-radius: 0px;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

.homePage .article_box .article_info {
    padding: 10px 0px;
    width: 318px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.homePage .article_info .article_main_info {
    width: 92%;
    height: 95%;
}

.homePage .article_main_info .article_author {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.homePage .article_author .author_username {
    margin-left: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.homePage .article_main_info .article_title {
    margin-top: 18px;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #e3c08d;
}

.homePage .article_main_info .article_desc {
    margin-top: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #808080;
}

.homePage .personage_img.right {
    margin-right: -40px;
    width: 216px;
    height: 200px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: url("/public/home/papay_foto.png");
    background-size: cover;
}

.homePage .personage_img.left {
    margin-left: -40px;
    width: 216px;
    height: 200px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: url("/public/home/papay_foto.png");
    background-size: cover;
}